<html>
<head>
<meta name="addmessage" content="tianjia" charset="utf-8"/>
<title>add</title>
</head>
<body>
<form>
      $info1
      <input type="text" name="name" id="name" /><br />
      $info2 
      <input type="text" name="allname" id="allname" /><br />
      $info3 
      <input type="text" name="simplename" id="simplename" /><br />
      $info4
      <input type="text" name="pri_tele" id="pritele" /><br />
      $info5
      <input type="text" name="comp_tele" id="comp_tele" /><br />
      $info6   
      <input type="text" name="fenji" id="fenji" /><br />
      $info7   
      <input type="text" name="email" id="email" /><br />
      <input type="submit" name="submit" id="submit" value=$info />
</form>
</body>
</html>
