<html>
   <head>
   <meta name="my first scgi" content="first" charset="utf-8"/>
   <title>add_error</title>
   </head>
   <body bgcolor="white">
      <p>
      $info1$info2
      </p>
   </body>
</html>

