<html>
   <head>
   <meta name="my first scgi" content="first" charset="utf-8"/>
   <title>add_finish</title>
   </head>
   <body bgcolor="white">
      <center><h1>$info1</h1></center>
   </body>
</html>

