<html>
<head>
<meta name="change_on" content="change" charset="utf-8"/>
<title>change_on</title>
</head>
<body>
<form>
      <input type="text" name="key" id="key" value=$info8 readonly style=" border:0px" /><br /><br /><br />
      $message1
      <input type="text" name="name" id="name" value=$info1 /><br />
      $message2
      <input type="text" name="allname" id="allname" value=$info2 /><br />
      $message3
      <input type="text" name="simplename" id="simplename" value=$info3 /><br />
      $message4
      <input type="text" name="pri_tele" id="pritele" value=$info4 /><br />
      $message5
      <input type="text" name="comp_tele" id="comp_tele" value=$info5 /><br />
      $message6
      <input type="text" name="fenji" id="fenji" value=$info6 /><br />
      $message7
      <input type="text" name="email" id="email" value=$info7 /><br />
      <input type="submit" value="submmit" />
</form>
<script language=JavaScript>
   parent.otherFrameID.location.reload();
</script>
</body>
</html>

