<html>
   <head>
   <meta name="my_scgi" content="scgi" charset="utf-8">
   <title>change_finsh</title>
   </head>
   <body bgcolor="white">
      <center><h1>$info1</h1></center>
   <script language=JavaScript>
   parent.otherFrameID.location.reload();
   </script>
   </body>
</html>
