<html>
<head>
<meta name="deletemessage" content="text/html" charset="utf-8" />
<title>delete</title>
</head>
<body>
<form>
      $info1
      <input type="text" name="message" id="message" />
      <input type="submit" name="submit" id="submit" value=$info2 />
</form>
</body>
</html>


