<html>
   <head>
   <meta name="my scgi" content="scgi" charset="utf-8"/>
   <title>select_error</title>
   </head>
   <body bgcolor="white">
      <center><h1>$info1</h1></center>
   </body>
</html>
